.recovery__container {
    background-color: #252632;
    background: url("img/fon.png");
    z-index: 5;
    position: relative;
    height: calc(100vh - 91px);
    overflow: hidden;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}
.change__container {
    position: absolute;
    top: 43px;
    right: 421px;
    width: 312px;
    padding: 84px 94px 90px 94px;
    background: #2F2F3F;
    box-shadow: 0px 4px 16px rgba(37, 38, 50, 0.8);
    border-radius: 5px;
}
.change__title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
}.input__block {
     display: flex;
     flex-direction: column;
     position: relative;
 }
.input__title {
    margin-left: 12px;
    color: #8C90A4;
    margin-bottom: 8px;
    margin-top: 16px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */


    color: #8C90A4;
}
.input {
    background: #252632;
    border: 1px solid #595D6E;
    color: #FFF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    outline: none;
    padding: 12px;
    transition: .15s border ease-in-out;
    position: relative;
}
.input:focus {
    transition: .15s border ease-in-out;
    border: 1px solid #FFF;
    caret-color: #FCB90B;
}
.input__block {
    display: flex;
    flex-direction: column;
    position: relative;
}
.password__eye {
    position: absolute;
    top: 54px;
    right: 13px;
    cursor: pointer;
}
.input, .input__error {
    background: #252632;
    border: 1px solid #595D6E;
    color: #FFF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    outline: none;
    padding: 12px;
    transition: .15s border ease-in-out;
    position: relative;
}
.input__error {
    background: #252632;
    border: 1px solid #F14843;
    box-sizing: border-box;
    border-radius: 4px;
    color: #F14843;
}
.error {
    position: absolute;
    top: 44px;
    z-index: 10;
    left: calc(100% + 7px);
    background: #F14843;
    border-radius: 3px;
    width: 155px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    transition: .2s all ease-in-out;
}
.error::before {
    content: "";
    top: 9px;
    position: absolute;
    left: -8px;
    height: 13px;
    width: 10px;
    background: url('img/Polygon.png') 100% 100% no-repeat;
    background-size: contain;
}
.change__button {
    margin-top: 47px;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #252632;
    padding: 12px 89px;
    background: #FCB90B;
    border-radius: 4px;
    cursor: pointer;
}
.change__button:hover {
    transition: .1s background ease-in-out;
    background: #ffc633;
}
@media (max-width: 1470px) {
    .change__container {
        right: 50%;
        transform: translateX(50%);
    }
}
@media (max-width: 650px) {
    .change__container {
        padding: 15px;
    }
    .error {
        display: none;
    }
}