.recovery__container {
    background-color: #252632;
    background: url("img/fon.png");
    z-index: 5;
    position: relative;
    height: calc(100vh - 91px);
    overflow: hidden;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}
.container__recovery {
    position: absolute;
    top: 43px;
    right: 415px;
    /*width: 312px;*/
    /*height: 247px;*/
    background: #2F2F3F;
    box-shadow: 0px 4px 16px rgba(37, 38, 50, 0.8);
    border-radius: 5px;
    padding: 84px 84px 91px 94px;
}
.recovery__title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.recovery__subtitle {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #8C90A4;
    width: 287px;
    margin-bottom: 44px;
}
.input__block {
    display: flex;
    flex-direction: column;
    position: relative;
}
.input__title {
    margin-left: 12px;
    color: #8C90A4;
    margin-bottom: 8px;
    margin-top: 16px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */


    color: #8C90A4;
}
.input {
    background: #252632;
    border: 1px solid #595D6E;
    color: #FFF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    outline: none;
    padding: 12px;
    transition: .15s border ease-in-out;
    position: relative;
}
.input:focus {
    transition: .15s border ease-in-out;
    border: 1px solid #FFF;
    caret-color: #FCB90B;
}
.input__container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    color: #8C90A4;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.input__forgotPassword {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #595D6E;
}
.recovery__button {
    padding: 12px 65px;
    margin-top: 76px;
    text-transform: uppercase;
    background: #FCB90B;
    border-radius: 4px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #252632;
    text-align: center;
    cursor: pointer;
    transition: .1s background ease-in-out;
}
.recovery__button:hover {
    transition: .1s background ease-in-out;
    background: #ffc633;
}
@media (max-width: 1470px) {
    .container__recovery {
        right: 50%;
        transform: translateX(50%);
    }
}
@media (max-width: 650px) {
    .container__recovery {
        padding: 15px;
    }
    .error {
        display: none;
    }
}